.item {
  border-radius: 9999px;
  background-color: #333333;
  aspect-ratio: 1 / 1;
  font-size: 28px;


  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    background-color: #9f9f9f;
    color: black;
  }

  &:nth-child(4n) {
    background-color: #f69804;
  }

  &:nth-last-child(1) {
    background-color: #f69804;
  }

}

.zero {
  grid-column: 1 / 3;
  aspect-ratio: unset;
}
